.cards {
	width: 100%;
	margin-top: 2rem;
}

.card {
	margin-bottom: 1rem;

	& .accordion-item h2 button {
		background: #29313c !important;
	}
	& p {
		color: #29313c;
	}
}

.accordion_header button {
	background: #29313c !important;
	color: white;
}
