@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: Poppins, sans-serif;
}

#__next {
	background: #171e26;
	color: #29313c;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	color: white;
}
